extends ../layout
block contenido
  h1 Stock disponible
  if error
    p.error= error
  if productos && productos.length
    table.tabla
      thead
        tr
          th ID
          th Producto
          th Saldo total
          th Lotes
      tbody
        each p in productos
          tr
            td= p.idProducto
            td= p.nombre
            td= p.saldoTotal
            td= p.cantidadLotes
  else
    p No hay productos para mostrar.