extends ../layout
block contenido
  h1 Stock disponible
  if error
    p.error= error
  if productos && productos.length
    table.tabla
      thead
        tr
          th ID
          th Producto
          th Saldo total
          th Lotes
          th.num Precio venta
          th.num Valor
      tbody
        each p in productos
          tr
            td= p.idProducto
            td= p.nombre
            td= p.saldoTotal
            td= p.cantidadLotes
            td.num= p.precioVenta.toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })
            td.num= (p.saldoTotal * p.precioVenta).toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })
  else
    p No hay productos para mostrar.